body{
    min-height: 100vh;
}

.header{
    min-height: 0;
}

.page_title{
    margin-top: 15px;
    font-size: 34px;
}

.blog_login{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F0F0;
    padding-bottom: 40px;
}

.login_form{
    width: 50%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login_form label{
    align-self: flex-start;
}